.name {
  color: $black-text;
  font-family: var(--font-reddit-normal);
  font-style: normal;
  font-weight: var(--weight);
  line-height: normal;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: start;
}

.name[data-type="menu"] {
  --weight: 400;
}

.name[data-type="mobile"] {
  --weight: 700;
}

.name[data-type="desktop"] {
  --weight: 700;
}
