.wrapper {
  position: relative;
  overflow: hidden;
  .background {
    width: 100vw;
    aspect-ratio: var(--ration);
    @media (min-width: $media-m) {
      height: var(--height);
      aspect-ratio: unset;
      margin-top: 0;
    }
    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  .marged {
    @media (min-width: $media-m) {
      margin-top: 10rem;
    }
  }

  .hero {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    .ble {
      align-self: flex-end;
      height: 209px;
      width: 38px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      > div {
        width: 100%;
      }
      @media (min-width: $media-m) {
        width: 46px;
        height: 212px;
        justify-self: flex-end;
      }
    }
    .text {
      align-self: flex-end;
      margin-bottom: 1.1rem;
      height: 10rem;
      @media (min-width: $media-m) {
        height: 13.6rem;
        margin-bottom: 2.8rem;
      }
      > h1 {
        color: $white;
      }
    }
  }
}

.wrapper[data-size="square"] {
  --ration: 1;
  @media (min-width: $media-m) {
    --height: calc(100vh - 10rem);
  }
}
.wrapper[data-size="rectangle"] {
  --ration: 2;
  @media (min-width: $media-m) {
    --height: 100vh;
  }
}
