.wrapper {
  position: relative;
  overflow: hidden;
  .background {
    width: 100vw;
    aspect-ratio: var(--ration);
    @media (min-width: $media-m) {
      height: var(--height);
      aspect-ratio: unset;
      margin-top: 0;
    }
    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
}

.wrapper[data-size="square"] {
  --ration: 1;
  @media (min-width: $media-m) {
    --height: calc(100vh - 10rem);
  }
}
.wrapper[data-size="rectangle"] {
  --ration: 2;
  @media (min-width: $media-m) {
    --height: 100vh;
  }
}
