.wrapper {
  height: 253px;
  margin: auto 1rem -3px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;
  @media (min-width: $media-m) {
    height: 500px;
  }
  .illustration {
    height: 131px;
    width: 77px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media (min-width: $media-m) {
      width: 271px;
      height: 340px;
    }
    &:last-child {
      width: 83px;
      height: 150px;
      @media (min-width: $media-m) {
        width: 320px;
        height: 340px;
      }
    }
    .image,
    .image1 {
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: -1;
    }
  }
}
