.wrapper {
  display: none;
  @media (min-width: $media-m) {
    display: block;
    margin-top: 10rem;
    position: relative;
  }

  .frame {
    top: 10rem;
    position: sticky;
    background-color: transparent;
    z-index: 1;

    .container {
      min-height: 8rem;
      background-color: transparent;

      .left {
        position: relative;
        height: fit-content;
      }
      
      .right {
        background-color: $white;
        position: relative;
        height: fit-content;

        .openName {
          height: fit-content;
          min-height: 8rem;
          overflow: hidden;
          padding-bottom: 2rem;
          
          .title {
            height: fit-content;
            min-height: 8rem;
            background-color: $white;
            padding: 1rem 0;
          }
        }

        .absolute {
          position: relative;
          padding-top: 2rem;
          
          .openPicture {
            height: fit-content;
            min-height: 20rem;
            overflow: hidden;
            margin-bottom: 2rem;
            
            > div {
              > div {
                position: relative;
              }
            }
          }
          
          .openExtract {
            height: fit-content;
            min-height: 11rem;
            overflow: hidden;
            margin-bottom: 2rem;
            
            > div {
              > div {
                min-height: 11rem;
                position: relative;
                margin: auto 0;
              }
            }
          }
        }
      }
    }
  }
  
  .content {
    position: relative;
    height: fit-content;
    margin-top: 5rem;
    padding-bottom: 5rem;

    .text1,
    .text2,
    .text3 {
      height: fit-content;
      margin-bottom: 3rem;
    }
  }
}