.wrapper {
  display: none;
  @media (min-width: $media-m) {
    display: block;
    margin-top: 10rem;
  }
  .frame {
    top: 10rem;
    position: sticky;
    background-color: transparent;
    z-index: 1;

    .container {
      height: calc(100vh - 10rem);
      background-color: transparent;
      .left {
        position: relative;
      }
      .right {
        background-color: $white;
        .openName {
          margin-top: 2rem;
          margin-bottom: 2rem;
          height: 7.1rem;
          overflow: hidden;
          @media (min-width: $media-l) {
            margin-bottom: 6rem;
          }
          .title {
            padding-top: 1rem;
            padding-bottom: 4rem;
            height: 8rem;
            background-color: $white;
          }
        }
        .openPicture {
          height: 20rem;
          overflow: hidden;
          @media (min-width: $media-l) {
            height: 34rem;
          }
          > div {
            > div {
              top: unset;
            }
          }
        }
        .openExtract {
          height: 18rem;
          overflow: hidden;

          > div {
            > div {
              min-height: 18rem;
              padding-block: 0;
              top: unset;
              margin: auto 0;
              @media (min-width: $media-l) {
                min-height: 17rem;
                padding-block: 4rem;
              }
            }
          }
        }
      }
    }
  }
  .content {
    position: relative;
    translate: 0% -7%;
  }
}
