.wrapper {
  margin-block: 6.7rem;
  .ads {
    margin: 0 auto;
    width: var(--width);
    height: var(--height);
    min-width: var(--width);
    min-height: var(--height);
    background-color: $grey-header;
  }

  .ads[data-size="banniere_basse_320x50"] {
    --width: 320px;
    --height: 50px;
  }
  .ads[data-size="banniere_basse_468x60"] {
    --width: 468px;
    --height: 60px;
  }
  .ads[data-size="banniere_basse_728x90"] {
    --width: 728px;
    --height: 90px;
  }
  .ads[data-size="banniere_basse_1000x90"] {
    --width: 1000px;
    --height: 90px;
  }
  .ads[data-size="banniere_haute_320x50"] {
    --width: 320px;
    --height: 50px;
  }
  .ads[data-size="banniere_haute_468x60"] {
    --width: 468px;
    --height: 60px;
  }
  .ads[data-size="banniere_haute_728x90"] {
    --width: 728px;
    --height: 90px;
  }
  .ads[data-size="banniere_haute_970x250"] {
    --width: 970px;
    --height: 250px;
  }
  .ads[data-size="banniere_haute_1000x90"] {
    --width: 1000px;
    --height: 90px;
  }
  .ads[data-size="banniere_haute_1000x200"] {
    --width: 1000px;
    --height: 200px;
  }
  .ads[data-size="banniere_haute_1000x300"] {
    --width: 1000px;
    --height: 300px;
  }
  .ads[data-size="banniere_haute_1000x350"] {
    --width: 1000px;
    --height: 350px;
  }
  .ads[data-size="banniere_haute_1000x400"] {
    --width: 1000px;
    --height: 400px;
  }
  .ads[data-size="banniere_haute_1000x450"] {
    --width: 1000px;
    --height: 450px;
  }
  .ads[data-size="banniere_haute_1000x500"] {
    --width: 1000px;
    --height: 500px;
  }
  .ads[data-size="inread_300x250"] {
    --width: 300px;
    --height: 250px;
  }
  .ads[data-size="inread_top_300x250"] {
    --width: 300px;
    --height: 250px;
  }
  .ads[data-size="pave_bas_300x250"] {
    --width: 300px;
    --height: 250px;
  }
  .ads[data-size="pave_haut_160x600"] {
    --width: 160px;
    --height: 600px;
  }
  .ads[data-size="pave_haut_300x250"] {
    --width: 300px;
    --height: 250px;
  }
  .ads[data-size="pave_haut_300x600"] {
    --width: 300px;
    --height: 600px;
  }
  .ads[data-size="pave_milieu_160x600"] {
    --width: 160px;
    --height: 600px;
  }
  .ads[data-size="pave_milieu_300x250"] {
    --width: 300px;
    --height: 250px;
  }
  .ads[data-size="pave_milieu_300x600"] {
    --width: 300px;
    --height: 600px;
  }
}
