.main {
  margin-top: 10rem;
  height: calc(100vh - 10rem);
  // overflow-x: hidden;
  @media (min-width: $media-m) {
    height: 100vh;
    margin-top: 0;
  }
  .page {
    .exportedImage {
      width: 600px;
      height: 400px;
    }
  }
  .progress {
    position: relative;

    .progressBar {
      justify-self: flex-start;
      @media (min-width: $media-m) {
        justify-self: flex-end;
      }
    }
  }
  .text2 {
    height: unset;
    min-height: unset;
    margin-bottom: 14rem;
  }
}
