.description {
  color: $black-text;
  font-family: var(--font-reddit-normal);
  font-style: normal;
  font-weight: var(--weight);
  line-height: normal;
  font-size: 1.2rem;
  text-align: start;
  @media (min-width: $media-m) {
    width: unset;
  }
}

.description[data-type="menu"] {
  --weight: 400;
  width: 100%;
}

.description[data-type="mobile"] {
  --weight: 700;
  width: 80%;
}

.description[data-type="desktop"] {
  --weight: 700;
  width: 80%;
}
