.wrapper {
  .lists {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
      color: $black-text;
      font-family: var(--font-reddit-normal);
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 1rem;
      margin-top: 0.7rem;

      &:first-child {
        margin-top: 0;
      }
    }

    .list {
      padding-left: 2rem;
      margin-bottom: 1rem;
      &:nth-child(3) {
        margin-bottom: 3rem;
      }
    }
  }
}
