.wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;

  .container {
    display: flex;
    gap: 1rem;
    align-items: center;
    pointer-events: auto;
    .avatar {
      width: 10rem;
      aspect-ratio: 1;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: calc(100% - 11rem);
    }
  }
}

.wrapper[data-type="menu"] {
  margin-top: 0;
  margin-bottom: 0;
  .container {
    .avatar {
      width: 5rem;
    }
  }
  .content {
    width: calc(100% - 9rem);
  }
}
