.wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  @media (min-width: $media-m) {
    width: 20rem;
    height: 20rem;
    margin: 0 auto; 
  }
  // @media (min-width: $media-l) {
  //   width: 34rem;
  //   height: 34rem;
  //   margin: 0 auto;
  //   top: 13rem;
  // }
  .mask {
    clip-path: circle(50%);
    width: 10rem;
    height: 10rem;
    @media (min-width: $media-m) {
      width: 20rem;
      height: 20rem;
    }
    // @media (min-width: $media-l) {
    //   width: 34rem;
    //   height: 34rem;
    // }
    .container {
      position: relative;
      width: 10rem;
      height: 10rem;
      @media (min-width: $media-m) {
        width: 20rem;
        height: 20rem;
      }
      // @media (min-width: $media-l) {
      //   width: 34rem;
      //   height: 34rem;
      // }
      .image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: $media-m) {
          width: 20rem;
          height: 20rem;
          border: 2px solid var(--bd-color);
        }
        // @media (min-width: $media-l) {
        //   width: 34rem;
        //   height: 34rem;
        //   border: 2px solid var(--bd-color);
        // }
      }
      // .round {
      //   position: absolute;
      //   left: 0;
      //   width: 10rem;
      //   height: 10rem;
      //   background-color: var(--bg-color);
      //   border-radius: 100%;
      //   @media (min-width: $media-m) {
      //     width: 34rem;
      //     height: 34rem;
      //   }
      // }
    }
  }
  .fruit {
    position: absolute;
    right: 0;
    top: 100%;
    width: 2.6rem;
    transform: translateY(-100%);
    z-index: 4;
    @media (min-width: $media-m) {
      width: 5rem;
    }
  }
}

.wrapper {
  .container[data-color="blue"] {
    .image {
      --bd-color: #{$blue-banner};
    }
    .round[data-color="blue"] {
      --bg-color: #{$blue-banner};
    }
  }
  .container[data-color="red"] {
    .image {
      --bd-color: #{$red-avatar};
    }
    .round[data-color="red"] {
      --bg-color: #{$red-avatar};
    }
  }
  .container[data-color="yellow"] {
    .image {
      --bd-color: #{$yellow-avatar};
    }
    .round[data-color="yellow"] {
      --bg-color: #{$yellow-avatar};
    }
  }
}
