.wrapper {
  position: relative;
  width: 5rem;
  height: 5rem;
  // overflow: hidden;
  position: relative;

  .container {
    width: 5rem;
    height: 5rem;
    .image {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .fruit {
    position: absolute;
    right: 0;
    top: 100%;
    width: 1.6rem;
    transform: translateY(-100%);
    z-index: 4;
  }
}
