.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 5px;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  margin-left: 17px;
  @media (min-width: $media-m) {
    margin-left: 0;
    margin-right: 21px;
    height: 100%;
  }
  .bar {
    background: #b6d526;
    width: 100%;
    height: 10%;
    transform-origin: top;
  }
}
