.wrapper {
  background-color: $blue-banner;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8rem;
  position: absolute;
  left: -4rem;
  right: 0;
  padding-left: 4rem;
  z-index: 2;
  .content {
    color: $white;
    font-family: var(--font-reddit-normal);
    text-align: center;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
